body, html {
  margin: 0;
  padding: 0;
  color: #7b7b7b;
  font-family: Open Sans;
}

body {
  -webkit-text-size-adjust: none;
}

body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 300;
}

ul, ol, li, dl, dt, dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  text-decoration: none;
}

input, select, textarea, fieldset, button {
  outline: none;
  margin: 0;
  padding: 0;
  width: auto;
  min-width: auto;
  border: 0;
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

em {
  font-style: normal;
}

textarea {
  resize: none;
}

.hidden {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

@font-face {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  src: local("../font/OpenSans-Light.woff"), url("../font/OpenSans-Light.woff") format("woff");
}

@font-face {
  font-family: Open Sans ltalic;
  font-style: normal;
  font-weight: normal;
  src: local("../font/OpenSans-Italic.woff"), url("../font/OpenSans-Italic.woff") format("woff");
}

@font-face {
  font-family: Open Sans bold;
  font-style: normal;
  font-weight: normal;
  src: local("../font/OpenSans-Bold.woff"), url("../font/OpenSans-Bold.woff") format("woff");
}

.justify-end {
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
}

.justify-center {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.auto-margin {
  margin: auto;
}

.align-c {
  text-align: center;
}

.display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.float-l {
  float: left;
}

.flex-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.auto-flex {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.col-xs-6 {
  width: 50%;
}

.max-width {
  width: 100%;
}

.fc-blue {
  color: #40bbff;
}

.fc-light-gray {
  color: #adadad;
}

.none-pad {
  padding: 0 !important;
}

.none-margin {
  margin: 0 !important;
}

.item-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .navbar-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container .navbar-header .navbar-logo img {
  width: 100%;
}

.container .navbar-header .navbar-toggle {
  background: unset;
}

.container .navbar-row ul {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container .navbar-row .custom-nav li {
  margin-left: 0.9375rem;
}

.container .custom-dropdown .dropdown {
  margin-left: 0.625rem;
}

.container .custom-dropdown .dropdown ul {
  position: absolute;
  width: 12.25rem;
}

.container .custom-dropdown .dropdown ul li {
  padding-left: 0.625rem;
}

.container .custom-dropdown .dropdown ul li:hover {
  background-color: #000000;
}

.container .custom-dropdown .dropdown ul li:hover a {
  color: #ffffff;
}

.container .custom-dropdown .dropdown.mega-menu .mega-menu-container {
  left: -49.1875rem;
  width: 71.25rem;
  height: 13.75rem;
  padding: 1.5625rem;
}

.container .mini-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0.3125rem 0;
}

.container .mini-nav li {
  position: relative;
  padding: 0px 0.625rem;
}

.container .mini-nav li:after {
  content: '';
  position: absolute;
  right: 0.0625rem;
  top: 0.5625rem;
  display: block;
  width: 0.0625rem;
  height: 0.625rem;
  background-color: #000000;
}

.container .mini-nav li a {
  font-size: 0.6875rem;
}

.container .mini-nav li:last-child:after {
  display: none;
}

@media (min-width: 990px) {
  #main-nav {
    display: block;
  }
  #main-nav .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  #main-nav .navbar-nav li {
    margin-left: 0.9375rem;
  }
  #main-nav.navbar-collapse {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
  .navbar-header button {
    display: none;
  }
}

@media (max-width: 990px) {
  .navbar-header button {
    display: block;
  }
}

.main-feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2.5rem 0;
  background-color: #5782b7;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 3.125rem;
}

.main-feature .feature-icon {
  display: block;
  font-size: 5rem;
}

.main-feature .feature-heading {
  font-size: 1.125rem;
  padding-top: 0.9375rem;
}

.main-feature .col-md-3 {
  border-right: 0.0625rem solid rgba(255, 255, 255, 0.5);
}

.main-feature .col-md-3:last-child {
  border: none;
}

.main-feature.total-feature {
  color: #ffffff;
}

.main-feature.total-feature .total-icon {
  font-size: 2.9375rem;
  line-height: 1.5;
}

.main-feature.total-feature .total-head {
  font-size: 1.75rem;
}

.main-feature.total-feature .total-head span {
  font-size: 0.8125rem;
  display: block;
  padding-left: 2.5rem;
}

.main-feature.none-border .col-md-3 {
  border: none;
}

section {
  margin-bottom: 3.75rem;
}

section .container hr {
  width: 5rem;
  margin-top: 2.5rem;
  border-color: #406da4;
}

section .container .title {
  font-size: 1.375rem;
  margin-bottom: 1.25rem;
  font-weight: 500;
}

section .container .title.max-title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

section .container .title.max-title a:auto-height {
  height: auto;
}

section .container .title.la-type {
  font-size: 2.25rem;
}

section .container .img-banner {
  width: 100%;
  height: 100%;
}

section .container.box-banner .box-content {
  margin-bottom: 2.5rem;
}

section .container.box-banner .box-content.box-icon i {
  position: relative;
  float: left;
  width: 5rem;
  height: 5rem;
  background: #406da4;
  color: #ffffff;
  font-size: 2.5rem;
}

section .container.box-banner .box-content.box-icon i:before {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

section .container.box-banner .box-content .title {
  padding-left: 6.25rem;
}

section .container.box-banner .box-content .box-info {
  font-size: 0.8125rem;
  padding-left: 6.25rem;
}

section .container.box-banner .box-content.sm-type i {
  width: 3.75rem;
  height: 3.75rem;
  font-size: 1.625rem;
}

section .container.box-banner .box-content.sm-type .title {
  font-weight: 400;
  margin-bottom: 0;
}

section .container .section-header {
  margin-bottom: 3.125rem;
  padding-top: 1.875rem;
}

section .container .section-header h2 {
  font-size: 2.625rem;
}

section.none-margin {
  margin: 0;
}

section.latest-news .news-img img {
  width: 100%;
}

section.latest-news .news-img.sm-type img {
  width: 8.75rem;
  margin-right: 0.625rem;
}

section.latest-news .news-info {
  font-size: 0.8125rem;
}

section.latest-news .news-info.news-info-sm-type {
  font-size: 0.75rem;
}

section.latest-news .title.title-sm-type {
  font-size: 1rem;
  margin: 0;
}

section.latest-news .title.ellipsis {
  width: 12.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

section.latest-news .news-content {
  padding-left: 0.625rem;
}

section.latest-news .col-md-6 {
  margin-bottom: 3.4375rem;
}

section.latest-news .see-all-news {
  border: 0.0625rem solid #e4e4e4;
  font-size: 1rem;
}

section.latest-news .see-all-news a {
  display: block;
  padding: 1.875rem 0;
}

section.parallax-bg {
  background-image: url(../img/testimonial-bg.png);
  background-attachment: fixed;
  background-position: center center;
  padding: 7.5rem 0;
}

section.call-to-action {
  background-color: #ebebeb;
  padding: 1.5625rem 0;
}

section.main-banner {
  position: relative;
}

section.main-banner .main-text {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

section.main-banner .main-text .fc-blue {
  font-size: 2.125rem;
}

section.main-banner .main-text strong {
  font-size: 3.125rem;
  color: #ffffff;
}

section.main-banner img {
  height: 38.75rem;
}

@media (max-width: 990px) {
  section .container .title {
    font-size: 1rem;
  }
}

.custom-tab .nav li {
  margin: 0 1.25rem;
}

.custom-tab .nav li a.active {
  border-top: 0.0625rem solid #ff0000;
  margin-top: -0.0625rem;
}

.custom-tab.tab-line-top {
  border-top: 0.0625rem solid #ccc;
}

.tab-content .tab-title {
  color: #406da4;
  font-size: 1.5rem;
  font-weight: 600;
}

.tab-content .img-responsive {
  max-width: 100%;
  height: auto;
}

.card-banner {
  color: #ffffff;
}

.card-banner .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 123, 255, 0.5);
  padding: 0 0.9375rem;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  opacity: 0;
}

.card-banner .info {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.card-banner .info .btn {
  background-color: #4474af;
  color: #ffffff;
}

.card-banner .card-wrapper img {
  width: 100%;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  z-index: 1;
}

.card-banner .card-banner-item {
  position: relative;
  overflow: hidden;
}

.card-banner .card-banner-item:hover .card-wrapper img {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.card-banner .card-banner-item:hover .overlay, .card-banner .card-banner-item:hover .info {
  opacity: 1;
  z-index: 2;
}

@media (max-width: 990px) {
  .card-banner .info .btn {
    font-size: 0.6875rem;
  }
}

footer {
  background-color: #49494b;
  color: #eaeaea;
  font-weight: 300;
  padding: 1.875rem 0;
}

footer .logo {
  width: 6.25rem;
  margin-bottom: 0.625rem;
}

footer .footer-title {
  font-size: 1rem;
  color: #ffffff;
}

footer .footer-nav li {
  margin-bottom: 0.625rem;
}

footer .footer-nav li a {
  color: #ffffff;
  font-size: 0.8125rem;
}

footer .social-connect .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .social-connect .social-icons li {
  margin-right: 0.3125rem;
}

footer .social-connect .social-icons li a {
  display: block;
  padding-top: 0.4375rem;
  width: 3.125rem;
  height: 3.125rem;
  font-size: 1.5rem;
  border-radius: 0.1875rem;
  text-align: center;
  color: #ffffff;
}

footer .social-connect .social-icons li a.facebook-bg {
  background-color: #344f98;
}

footer .social-connect .social-icons li a.twitter-bg {
  background-color: #138bee;
}

footer .social-connect .social-icons li a.google-bg {
  background-color: #dd4b39;
}

footer .social-connect .social-icons li a.rss-bg {
  background-color: #ff6600;
}

footer .newsletter {
  margin-bottom: 1.875rem;
}

footer .newsletter .input-group .form-control {
  background: #ced4da;
  border: #ced4da;
  color: #ffffff;
}

.copyright {
  padding: 0.9375rem 0;
  background-color: #323232;
  color: #ffffff;
  font-size: 0.75rem;
}

.breadcrumb {
  background-color: unset;
}

.map {
  width: 100%;
  height: 28.125rem;
}

.dropcap {
  float: left;
  min-width: 1.875rem;
  padding: 0.3125rem 0;
  margin: rme(5) 0.5rem 0 0;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.3125rem;
  background-color: #406da4;
  color: #ffffff;
  text-align: center;
}

.dropcap.la-type {
  min-width: 3.125rem;
  padding: 0.5rem 0;
  margin-right: 0.625rem;
  font-size: 2.25rem;
  line-height: 2.25rem;
}

.shop-header .top-header {
  border-bottom: 0.0625rem solid #ddd;
  margin-bottom: 0.3125rem;
}

.shop-main {
  margin-bottom: 2.3125rem;
}

.shop-main.login .breadcrumb {
  padding-left: 0;
  background-color: unset;
}

.shop-main.login .breadcrumb li {
  padding: 0 0.625rem;
}

.shop-main.login .breadcrumb.separator-arrow li {
  position: relative;
  font-size: 1rem;
}

.shop-main.login .breadcrumb.separator-arrow li:after {
  content: '\f105';
  position: absolute;
  right: -0.3125rem;
  font-family: "FontAwesome";
}

.shop-main.login .breadcrumb.separator-arrow li:last-child:after {
  display: none;
}

.shop-main .login-box {
  border: 0.0625rem solid #ccc;
  padding: 1.875rem;
  padding-bottom: 0;
}

.shop-main .login-box h1 {
  font-size: 1.1875rem;
  margin-bottom: 1.875rem;
}

.shop-main .login-box .form-group .input-group .input-group-icon {
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 0.0625rem solid #ccc;
  border-radius: 0.25rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.shop-main .login-box .form-group .input-group .input-group-icon .fa {
  min-width: 0.875rem;
}

.shop-main .login-box .form-group .fancy-checkbox span, .shop-main .login-box .form-group .fancy-checkbox a {
  font-weight: 600;
  font-size: 0.8125rem;
}

.shop-main .login-box .form-group .forgot-pw {
  font-size: 0.8125rem;
}

.shop-main.la-type-margin {
  margin-bottom: 15.4375rem;
}

.join-link {
  font-size: 0.8125rem;
}

.join-link a {
  margin-left: 0.625rem;
}

.login-copytext h2 {
  font-size: 1.1875rem;
  margin-top: 0;
  color: #656565;
  font-weight: 500;
}

.login-copytext p {
  font-size: 0.9375rem;
  color: #959595;
  font-weight: 300;
  margin-bottom: 1.875rem;
}

.account-box a {
  text-decoration: underline;
}

.page-error {
  margin: 2.5rem 0;
  padding: 1.25rem 0 2.5rem 0;
}

.page-error h1 {
  font-size: 9.75rem;
  color: #656565;
}

.page-error h2 {
  font-size: 1.875rem;
}

.page-error .error-description p {
  margin-top: 0;
  margin-bottom: 0.625rem;
  font-size: 0.8125rem;
}

.page-error .input-group .input-group-btn .btn-default {
  color: #000000;
  background-color: #ffffff;
  border-color: #ccc;
}

.page-header {
  padding: 0.3125rem 0;
  margin: 0;
  border-bottom: 1px solid #eaeaea;
}

.page-header .page-title {
  margin: 1.25rem 0;
  font-size: 1.5rem;
}

.page-header .breadcrumb {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 1.4375rem;
}

.page-header .breadcrumb li {
  position: relative;
  padding: 0 0.625rem;
  font-size: 0.8125rem;
}

.page-header .breadcrumb li:after {
  position: absolute;
  right: -0.3125rem;
  color: #ccc;
  content: "/\00a0";
}

.page-header .breadcrumb li:last-child:after {
  display: none;
}

.page-header .breadcrumb li a {
  font-size: 0.8125rem;
  color: #7b7b7b;
}

.page-content {
  margin: 2.5rem 0;
}

.page-content .page-sub-title {
  font-size: 1.75rem;
  margin-bottom: 1.25rem;
}

.page-content .page-sub-title:after {
  content: '......';
  display: block;
  color: #406da4;
  font-weight: 300;
}

.page-content .plan-title {
  margin-bottom: 3.125rem;
}

.page-content .plan-title h4 {
  font-size: 1.75rem;
  font-weight: 600;
  color: #656565;
}

.page-content .plan-title .text-muted {
  font-size: 0.8125rem;
}

.page-content .plan-item {
  position: relative;
  border-radius: 0.125rem;
  padding: 3.125rem 1.25rem;
  margin: 0 0.9375rem 1.875rem 0.9375rem;
  border: 0.0625rem solid #ccc;
}

.page-content .plan-item .plan-icon {
  display: block;
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 0.9375rem;
  font-size: 3rem;
  background-color: #ccc;
}

.page-content .plan-item .plan-icon:before {
  line-height: 6.25rem;
  opacity: 0.5;
}

.page-content .plan-item h4 {
  color: #656565;
  font-weight: 600;
}

.page-content .plan-item .price {
  display: block;
  font-size: 1.75rem;
  line-height: 2.3;
  font-weight: 600;
}

.page-content .plan-item .plan-detail-list {
  margin-bottom: 1.875rem;
  margin-top: 0.625rem;
}

.page-content .plan-item .plan-detail-list li {
  font-size: 0.8125rem;
}

.page-content .plan-item .plan-detail-list li strong {
  font-weight: 600;
}

.page-content .plan-item .pricing-badge {
  position: absolute;
  top: -2.5rem;
  right: -2.5rem;
  background-image: url(../img/badge.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 6.25rem;
  height: 6.25rem;
  margin: 0;
}

.page-content .plan-item .pricing-badge span {
  position: relative;
  top: 1.6875rem;
  font-size: 1.1875rem;
  color: #ffffff;
  line-height: 1.3;
}

.page-content .plan-content {
  width: 80%;
  margin: 2.5rem auto;
  padding: 1.875rem;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.page-content .plan-content .price {
  position: relative;
  font-size: 1.375rem;
  line-height: 2.3;
  font-weight: normal;
}

.page-content .plan-content .price .currency {
  position: absolute;
  top: -5.75rem;
  font-size: 2.75rem;
  font-weight: 600;
}

.page-content .plan-content .price .number {
  font-size: 6.875rem;
  font-weight: 600;
  padding-left: 1.5625rem;
}

.page-content .plan-content .plan-detail-list {
  font-size: 0.8125rem;
}

.page-content .plan-content .plan-detail-list li {
  margin-bottom: 0.625rem;
}

.page-content .plan-content .plan-detail-list li strong {
  font-weight: 600;
}

.page-content .plan-content .btn strong {
  display: block;
  margin-bottom: 0.3125rem;
  font-size: 1.5rem;
}

.page-content .plan-content .btn span {
  display: block;
  font-size: 0.75rem;
  opacity: 0.8;
}

.widget {
  margin-bottom: 2.5rem;
}

.widget .widget-title {
  font-size: 1.125rem;
}

.widget .contact-info {
  margin-left: 1.5rem;
}

.widget .contact-info li {
  font-size: 0.8125rem;
  margin-bottom: 0.5rem;
}

.widget .tag-list li {
  display: inline-block;
  padding-left: 0.3125rem;
}

.widget .tag-list li a {
  display: block;
  background-color: #406da4;
  border: 0.0625rem solid transparent;
  color: #ffffff;
  font-size: 0.8125rem;
  border-radius: 0.125rem;
  padding: 0.3125rem;
  margin-bottom: 0.3125rem;
}

.widget .tag-list li a:hover {
  background-color: #ffffff;
  border: 0.0625rem solid #000000;
  color: #000000;
}

.widget p {
  font-size: 0.8125rem;
}

.page-content .small-text {
  font-size: 0.8125rem;
}

.page-content.search-results h2 {
  font-size: 1.5rem;
  margin-bottom: 1.875rem;
}

.page-content.search-results .multiselect {
  line-height: 2.125rem;
  border: 0.0625rem solid #ced4da;
}

.page-content.search-results .list-results {
  margin: 1.875rem 0;
}

.page-content.search-results .list-results .type-page {
  margin-bottom: 1.25rem;
}

.page-content.search-results .list-results h3 {
  font-size: 1.25rem;
}

.page-content.search-results .list-results h3 a {
  font-weight: 600;
}

.page-content.search-results .list-results .result-url {
  color: #008000;
}

.page-content.search-results .list-results p {
  margin: 0;
}

.support .knowledge h2 {
  border-bottom: 0.0625rem solid #ccc;
  line-height: 1.875rem;
  font-size: 1.25rem;
}

.support .knowledge h2 a {
  font-size: 1.25rem;
  color: #406da4;
}

.support .knowledge .support-list li a {
  font-size: 0.8125rem;
}

.support .form {
  margin-bottom: 3.125rem;
}

.support .row {
  margin-bottom: 2.5rem;
}

.support .nav li a {
  display: block;
  font-size: 0.8125rem;
  padding: 0.625rem 0.9375rem;
}

.support .nav.column-nav {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.support .nav.border-nav li {
  border: 0.0625rem solid #ccc;
  border-bottom: none;
}

.support .nav.border-nav li:last-child {
  border-bottom: 0.0625rem solid #ccc;
}

.support .badge {
  background-color: #777;
  color: #ffffff;
}

.support h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

.support .ticket-box {
  border: 0.0625rem solid #ccc;
  border-radius: 0.125rem;
  padding: 0.9375rem;
}

.support .ticket-box.box-margin {
  margin-top: 1.875rem;
}

.support .well {
  background-color: #e3e3e3;
  border: 0.0625rem solid #e3e3e3;
  border-radius: 0.375rem;
  margin: 1.25rem 0;
  padding: 1.5rem;
}

.support .well ol li a {
  font-size: 0.8125rem;
  color: #406da4;
  padding: 0.625rem 0;
}

.faq .faq-title {
  font-size: 1.875rem;
}

.faq .panel-group-faq {
  margin-bottom: 3.75rem;
}

.faq .panel-group-faq .panel-title {
  color: #7b7b7b;
  font-size: 1.125rem;
  padding: 0.9375rem 0;
  border-bottom: 0.0625rem solid #dddddd;
  line-height: 1.6;
}

.faq .panel-group-faq .panel-title .number {
  width: 1.875rem;
  height: 1.875rem;
  color: #ffffff;
  text-align: center;
  background-color: #406da4;
  vertical-align: middle;
  border-radius: 50%;
  line-height: 1.6;
  margin-right: 0.625rem;
}

.faq .panel-group-faq .panel-body p {
  font-size: 0.8125rem;
  color: #7b7b7b;
}

.faq .panel-group-faq .faq-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #e7e7e7;
  font-size: 0.6875rem;
  padding: 0.3125rem 0.5rem;
}

.faq .panel-group-faq .faq-footer .text-muted a {
  color: #007bff;
}

.faq .panel-group-faq .faq-footer .share {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: right;
}

.faq .more-question h4 {
  font-size: 1rem;
  color: #656565;
}

.faq .more-question p {
  font-size: 0.8125rem;
}

.faq .more-question .faq-links-list li {
  display: inline-block;
  width: 16.25rem;
  font-size: 0.8125rem;
}

.faq .more-question .faq-links-list li a {
  font-size: 0.8125rem;
  color: #007bff;
}

.slide-section {
  padding: 6.25rem 0;
  background-image: url(../img/main01.jpg);
  background-size: cover;
  background-repeat: center -75%;
}

.slide-section .main-slide .item .slide-title {
  color: #ffffff;
}

.slide-section .main-slide .item .lead {
  color: #ffffff;
}

.slide-section .main-slide .owl-nav .owl-next,
.slide-section .main-slide .owl-nav .owl-prev {
  position: absolute;
  width: 1.875rem;
  height: 3.125rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slide-section .main-slide .owl-nav .owl-next {
  top: 5rem;
  right: 1.5625rem;
  background-image: url(../img/next.png);
}

.slide-section .main-slide .owl-nav .owl-prev {
  top: 5rem;
  left: 1.5625rem;
  background-image: url(../img/prev.png);
}

.slide-section .main-slide .main-dot {
  position: absolute;
  top: 10.625rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slide-section .main-slide .main-dot .owl-dot {
  width: 0.625rem;
  height: 0.625rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  margin-right: 0.9375rem;
}

.slide-section .main-slide .main-dot .owl-dot:last-child {
  margin-right: 0;
}

.slide-section .main-slide .main-dot .owl-dot.active {
  background-color: #ffffff;
}

@media (max-width: 990px) {
  .main-slide .item img {
    display: none;
  }
  .main-slide .item .hero-center {
    text-align: center;
  }
  .main-slide .item .hero-center .slide-title {
    font-size: 2rem;
  }
  .main-slide .item .hero-center .lead {
    font-size: 1.125rem;
  }
  .main-slide .main-dot {
    top: 14.0625rem !important;
  }
}

.portfolio .container .card-banner .flex-wrap li {
  margin-bottom: 0.9375rem;
}

.contact-us .container {
  margin-top: 1.5625rem;
}

.contact-us .container .row .contact-info li {
  font-size: 1.125rem;
}

.contact-us .container .row .contact-info li i {
  font-size: 1.3125rem;
  top: 0.4375rem;
}

.contact-us .container .row .contact-info li p {
  font-size: 0.9375rem;
}

@media (min-width: 990px) {
  .contact-us .container .contact-name {
    padding-left: 1.875rem;
  }
  .contact-us .container .contact-email {
    padding-right: 1.875rem;
  }
}

@media (max-width: 990px) {
  .contact-us .container .contact-name {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }
  .contact-us .container .contact-email {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }
}

.about-info {
  width: calc(100% - 16%);
  margin: auto;
}
