@charset 'utf-8';

.a-type{
  .badge{
    display: inline-block;
    min-width: rem(10);
    padding: rem(3) rem(7);
    font-size: rem(12);
    font-weight: $bold;
    color: $fc-white;
    text-align: center;
    vertical-align: middle;
    color: $bedge-color;
    border-radius: rem(10);
  }
}