@charset 'utf-8';

.a-type{
  .widget{
    margin-bottom: rem(40);
    .widget-title{
      font-size: rem(18);
    }
    .contact-info{
      margin-left: rem(24);
      li{
        font-size: rem(13);
        margin-bottom: rem(8);
      }
    }
    .tag-list{
      li{
        display: inline-block;
        padding-left: rem(5);
        a{
          display: block;
          background-color: $tag-bg;
          border: rem(1) solid transparent;
          color: $fc-white;
          font-size: rem(13);
          border-radius: rem(2);
          padding: rem(5);
          margin-bottom: rem(5);
          &:hover{
            background-color: $bg-white;
            border: rem(1) solid #000000;
            color: $fc-black;
          }
        }
      }
    }
    p{
      font-size:rem(13);
    }
  }
  .page-content{
    .small-text{
      font-size: rem(13);
    }
  }
}