@charset 'utf-8';

.a-type{
  .card-banner{
    color: $fc-white;
    .overlay{
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #007bff, $alpha: 0.5);
      padding: 0 rem(15);
      transition: all 200ms ease-out;
      opacity: 0;
    }
    .info{
      @include absolute-center;
      opacity: 0;
      transition: all 200ms ease-out;
      .btn{
        background-color:#4474af;
        color:$fc-white;
      }
    }
    .card-wrapper{
      img{
        width: 100%;
        transition: all 0.2s linear;
        z-index: 1;
      }
    }
    .card-banner-item{
      position: relative;
      overflow: hidden;
      &:hover{
        .card-wrapper{
          img{
            transform: scale(1.5);
          }
        }
        .overlay,.info{
          opacity: 1;
          z-index: 2;
        }
      }
    }
  }
}
@media (max-width:990px){
  .a-type{
    .card-banner{
      .info{
        .btn{
          font-size: rem(11);
      }
    }
  }
  }
}
