@charset 'utf-8';

.a-type{
  .contact-us{
    .container{
      margin-top: rem(25);
      .row{
        .contact-info{
          li{
            font-size: rem(18);
            i{
              font-size: rem(21);
              top: rem(7);
            }
            p{
              font-size: rem(15);
            }
          }
        }
      }
    }
  }
}
@media (min-width:990px){
  .a-type{
    .contact-us{
      .container{
        .contact-name{
          padding-left: rem(30);
        }
        .contact-email{
          padding-right: rem(30);
        }
      }
    }
  }
}
@media (max-width:990px){
  .a-type{
    .contact-us{
      .container{
        .contact-name{
          padding-left: rem(30);
          padding-right: rem(30);
        }
        .contact-email{
          padding-left: rem(30);
          padding-right: rem(30);
        }
      }
    }
  }
}