@charset 'utf-8';

.a-type{
  .custom-tab{
    .nav{
      li{
        margin: 0 rem(20);
        a{
          &.active{
            border-top:rem(1) solid $tab-acrive-color;
            margin-top: -#{rem(1)};
          }
        }
      }
    }
    &.tab-line-top{
      border-top: rem(1) solid  $tab-line-solid;
    }
  }
  .tab-content{
    .tab-title{
      color:$tab-title;
      font-size: rem(24);
      font-weight: $bold;
    }
    .img-responsive{
      max-width: 100%;
      height: auto;
    }
  }
}