@charset 'utf-8';

.a-type{
  .dropcap{
    float: left;
    min-width: rem(30);
    padding: rem(5) 0;
    margin: rme(5) rem(8) 0 0 ;
    font-size: rem(18);
    font-weight: $normal;
    line-height: rem(21);
    background-color: $dropcat-bg;
    color: $fc-white;
    text-align: center;
    &.la-type{
      min-width: rem(50);
      padding: rem(8) 0;
      margin-right: rem(10);
      font-size: rem(36);
      line-height: rem(36);
    }
  }
}