@charset 'utf-8';

.a-tpye{
  .page-error{
    margin: rem(40) 0;
    padding: rem(20) 0 rem(40) 0;
    h1{
      font-size:rem(156);
      color: $error-text;
    }
    h2{
      font-size: rem(30);
    }
    .error-description{
      p{
        margin-top: 0;
        margin-bottom:rem(10);
        font-size: rem(13);
      }
    }
    .input-group{
      .input-group-btn{
        .btn-default{
          color: $fc-black;
          background-color:$bg-white;
          border-color:$serach-border;
        }
      }
    }
  }
  
}