@charset 'utf-8';

.a-type{
  .faq{
    .faq-title{
      font-size: rem(30);
      font-weight: $semi-bold;
    }
    .panel-group-faq{
      margin-bottom:rem(60);
      .panel-title{
        color: $faq-text;
        font-size: rem(18);
        padding: rem(15) 0;
        border-bottom: rem(1) solid #dddddd;
        line-height: 1.6;
        .number{
          width: rem(30);
          height:rem(30);
          color: $fc-white;
          text-align: center;
          background-color: $faq-title-nubmer;
          vertical-align: middle;
          border-radius:50% ;
          line-height: 1.6;
          margin-right: rem(10);
        }
      }
      .panel-body{
        p{
          font-size:rem(13);
          color: $faq-text;
        }
      }
      .faq-footer{
        display: flex;
        background-color: $faq-footer-bg;
        font-size: rem(11);
        padding: rem(5) rem(8);
        .text-muted{
          a{
            color: #007bff;
          }
        }
        .share{
          flex: 1 1 auto;
          text-align: right;
        }
      }
    }
    .more-question{
      h4{
        font-size: rem(16);
        color:$more-que-text;
        font-weight: $semi-bold;
      }
      p{
        font-size: rem(13);
      }
      .faq-links-list{
        li{
          display:inline-block;
          width:rem(260);
          font-size: rem(13);
          a{
            font-size: rem(13);
            color:#007bff;
          }
        }
      }
    }
  }
}