@charset 'utf-8';

@font-face{
  font-family:Open Sans;
  font-style: normal;
  font-weight: normal;
  src: local('../font/OpenSans-Light.woff'), url('../font/OpenSans-Light.woff') format('woff');
}

@font-face{
  font-family: Open Sans ltalic;
  font-style: normal;
  font-weight: normal;
  src: local('../font/OpenSans-Italic.woff'),url('../font/OpenSans-Italic.woff') format('woff')
}
@font-face{
  font-family: Open Sans bold;
  font-style: normal;
  font-weight: normal;
  src: local('../font/OpenSans-Bold.woff'),url('../font/OpenSans-Bold.woff') format('woff')
}