@charset 'utf-8';

.a-type{
  footer{
    background-color: $footer-bg;
    color: $footer-color;
    font-weight: $light;
    padding: $footer-pad 0;
    .logo{
      width: rem(100);
      margin-bottom: rem(10);
    }
    .footer-title{
      font-size: rem(16);
      color: $fc-white;
    }
    .footer-nav{
      li{
        margin-bottom: rem(10);
        a{
          color:$fc-white;
          font-size: rem(13);
        }
      }
    }
    .social-connect{
      .social-icons{
        display: flex;
        li{
          margin-right: rem(5);
          a{
            display: block;
            padding-top: rem(7);
            width: rem(50);
            height: rem(50);
            font-size: rem(24);
            border-radius: rem(3);
            text-align: center;
            color: $fc-white;
            &.facebook-bg{
              background-color: $facebook;
            }
            &.twitter-bg{
              background-color: $twitter;
            }
            &.google-bg{
              background-color:$google;
            }
            &.rss-bg{
              background-color: $rss;
            }
          }
        }
      }
    }
    .newsletter{
      margin-bottom: rem(30);
      .input-group{
        .form-control{
          background: $input-border;
          border: $input-border;
          color: $fc-white;
        }
      }
    }
  }
  .copyright{
    padding: rem(15) 0;
    background-color:$copyright-bg;
    color: $fc-white;
    font-size: rem(12);
  }
}