@charset 'utf-8';

.a-type{
  .shop-header{
    .top-header{
      border-bottom: rem(1) solid $top-nav-border;
      margin-bottom: rem(5);
    }
  }
  .shop-main{
    margin-bottom: rem(37);
    &.login{
      .breadcrumb{
        padding-left: 0;
        background-color: unset;
        li{
          padding: 0 rem(10);
        }
        &.separator-arrow{
          li{
            position: relative;
            font-size: rem(16);
            &:after{
              content: '\f105';
              position: absolute;
              right: -#{rem(5)};
              font-family: "FontAwesome";
            }
            &:last-child{
              &:after{
                display: none;
              }
            }
          }
        }
      }
    }
    .login-box{
      border: rem(1) solid $login-border;
      padding:rem(30);
      padding-bottom: 0;
      h1{
        font-size:rem(19);
        margin-bottom: rem(30);
      }
      .form-group{
        .input-group{
          .input-group-icon{
            padding: rem(6) rem(12);
            font-size: rem(14);
            color: #555;
            text-align: center;
            background-color: $login-icon-box;
            border: rem(1) solid $login-border;
            border-radius: rem(4);
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            .fa{
              min-width: rem(14);
            }
          }
        }
        .fancy-checkbox{
          span,a{
            font-weight: $bold;
            font-size: rem(13);
          }
        }
        .forgot-pw{
          font-size: rem(13);
        }
      }
    }
    &.la-type-margin{
      margin-bottom: rem(247);
    }
  }
  .join-link{
    font-size: rem(13);
    a{
      margin-left: rem(10);
    }
  }
  .login-copytext{
    h2{
      font-size: rem(19);
      margin-top: 0;
      color: #656565;
      font-weight: $semi-bold;
    }
    p{
      font-size: rem(15);
      color: #959595;
      font-weight: $light;
      margin-bottom: rem(30);
    }
  }
  
  .account-box{
    a{
      text-decoration: underline;
    }
  }
}