@charset 'utf-8';

.a-type{
  .main-feature{
    display: flex;
    padding: rem(40) 0;
    background-color: $feature-bg;
    color: rgba($color: $fc-white, $alpha: 0.5);
    margin-bottom: rem(50);
    .feature-icon{
      display: block;
      font-size:rem(80);
    }
    .feature-heading{
      font-size: rem(18);
      padding-top: rem(15);
    }
    .col-md-3{
      border-right: rem(1) solid rgba($color: $fc-white, $alpha: 0.5);
      &:last-child{
        border: none;
      }
    }
    &.total-feature{
      color: $fc-white;
      .total-icon{
        font-size: rem(47);
        line-height: 1.5;
      }
      .total-head{
        font-size: rem(28);
        span{
          font-size: rem(13);
          display: block;
          padding-left: rem(40);
        }
      }
    }
    &.none-border{
      .col-md-3{
        border: none;
      }
    }
  }
}