@charset 'utf-8';

@mixin absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50% , -50%);
}

@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin center-bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin paln-content-border{
  border-top: 1px solid $login-border;
  border-bottom: 1px solid $login-border;
}