.a-type{
  .container{
    .navbar-header{
      display: flex;
      flex: 1 1 auto;
      .navbar-logo{
        img{
          width: 100%;
        }
      }
      .navbar-toggle{
        background: unset;
      }
    }
    .navbar-row{
      ul{
        flex-direction: row;
      }
      .custom-nav{
        li{
          margin-left: rem(15);
        }
      }
    }
    .custom-dropdown{
      .dropdown{
        margin-left: rem(10);
        ul{
          position: absolute;
          width: rem(196);
          li{
            padding-left: rem(10);
            &:hover{
              background-color: $bg-black;
             a{
              color: $fc-white;
             }
            }
          }
        }
        &.mega-menu{
          .mega-menu-container{
            left: -#{rem(787)};
            width:rem(1140);
            height:rem(220);
            padding: rem(25);
          }
        }
      }
    }
    .mini-nav{
      display: flex;
      justify-content: flex-end;
      margin: rem(5) 0;
      li{
        position: relative;
        padding: 0px rem(10);
        &:after{
          content:'';
          position: absolute;
          right: rem(1);
          top: rem(9);
          display: block;
          width: rem(1);
          height: rem(10);
          background-color: $bg-black;
        }
        a{
          font-size:rem(11);
        }
        &:last-child{
          &:after{
            display: none;
          }
        }
      }
    }
  }
}
@media (min-width:990px){
.a-type{
  #main-nav{
    display: block;
    .navbar-nav{
     flex-direction: row;
     justify-content: flex-end;
     li{
       margin-left: rem(15);
     }
    }
    &.navbar-collapse{
      flex-basis: 20%;
    }
  }
  .navbar-header{
    button{
      display: none;
    }
  }
}
}
@media (max-width:990px){
  .a-type{
    .navbar-header{
      button{
        display: block;
      }
    }
  }
}