@charset 'UTF-8';

.a-type{
  .page-header{
    padding: rem(5) 0;
    margin: 0;
    border-bottom: 1px solid #eaeaea;
    .page-title{
      margin: rem(20) 0;
      font-size: rem(24);
    }
    .breadcrumb{
      justify-content: flex-end;
      padding-top: rem(23);
      li{
        position: relative;
        padding:0 rem(10);
        font-size: rem(13);
        &:after{
          position: absolute;
          right: -#{rem(5)};
          color: #ccc;
          content: "/\00a0";
        }
        &:last-child{
          &:after{
            display: none;
          }
        }
        a{
          font-size: rem(13);
          color:$breadcrumb-text;
        }
      }
    }
  }
  .page-content{
    margin: rem(40) 0;
    .page-sub-title{
      font-size: rem(28);
      margin-bottom: rem(20);
      &:after{
        content: '......';
        display: block;
        color: #406da4;
        font-weight:$light;
      }
    }
    .plan-title{
      margin-bottom: rem(50);
      h4{
        font-size:rem(28);
        font-weight: $bold;
        color: $header-color;
      }
      .text-muted{
        font-size: rem(13);
      }
    }
    .plan-item{
      position: relative;
      border-radius: rem(2);
      padding: rem(50) rem(20);
      margin: 0 rem(15) rem(30) rem(15);
      border: rem(1) solid $login-border;
      .plan-icon{
        display: block;
        width: rem(100);
        height: rem(100);
        border-radius: 50%;
        margin: 0 auto;
        margin-bottom: rem(15);
        font-size: rem(48);
        background-color:$plan-icon-bg;
        &:before{
          line-height: rem(100);
          opacity: 0.5;
        }
      }
      h4{
        color:$header-color;
        font-weight:$bold;
      }
      .price{
        display: block;
        font-size: rem(28);
        line-height: 2.3;
        font-weight: $bold;
      }
      .plan-detail-list{
        margin-bottom: rem(30);
        margin-top: rem(10);
        li{
          font-size: rem(13);
          strong{
            font-weight:$bold;
          }
        }
      }
      .pricing-badge{
        position: absolute;
        top: -#{rem(40)};
        right: -#{rem(40)};
        background-image: url(../img/badge.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: rem(100);
        height: rem(100);
        margin: 0;
        span{
          position: relative;
          top: rem(27);
          font-size: rem(19);
          color:$fc-white;
          line-height: 1.3;
        }
      }
    }
    .plan-content{
      width: 80%;
      margin: rem(40) auto;
      padding: rem(30);
      @include paln-content-border;
      .price{
        position: relative;
        font-size: rem(22);
        line-height: 2.3;
        font-weight: normal;
        .currency{
          position: absolute;
          top: -#{rem(92)};
          font-size: rem(44);
          font-weight: $bold;
        }
        .number{
          font-size: rem(110);
          font-weight: $bold;
          padding-left:rem(25);
        }
      }
      .plan-detail-list{
        font-size: rem(13);
        li{
          margin-bottom: rem(10);
          strong{
            font-weight: $bold;
          }
        }
      }
      .btn{
        strong{
          display: block;
          margin-bottom: rem(5);
          font-size: rem(24);
        }
        span{
          display: block;
          font-size: rem(12);
          opacity: 0.8;
        }
      }
    }
  }
}