@charset 'utf-8';


@for $pad-size from 1 through 100{
  .pad-left-#{$pad-size}{
    padding-left: 0.625rem * $pad-size;
  }
  .pad-right-#{$pad-size}{
    padding-right: 0.625rem * $pad-size;
  }
  .pad-top-#{$pad-size}{
    padding-top: 0.625rem * $pad-size;
  }
  .pad-bottom-#{$pad-size}{
    padding-bottom: 0.625rem * $pad-size;
  }
}

@for $margin-size from 1 through 100{
  .margin-left-#{$margin-size}{
    margin-left: 0.625rem * $margin-size;
  }
  .margin-right-#{$margin-size}{
    margin-right: 0.625rem * $margin-size;
  }
  .margin-top-#{$margin-size}{
    margin-top: 0.625rem * $margin-size;
  }
  .margin-bottom-#{$margin-size}{
    margin-bottom: 0.625rem * $margin-size;
  }
}
