@charset 'utf-8';

.justify-end{
  justify-content: flex-end !important;
}
.justify-center{
  justify-content: center !important;
}
.auto-margin{
  margin: auto;
}
.align-c{
  text-align: center;
}
.display-flex{
  display: flex;
}
.float-l{
  float: left;
}
.flex-wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.auto-flex{
  flex: 1 1 auto;
}
.col-xs-6{
  width: 50%;
}
.max-width{
  width: 100%;
}
.fc-blue{
  color: $fc-blue;
}
.fc-light-gray{
  color:$fc-lightgray;
}
.none-pad{
  padding: 0 !important;
}
.none-margin{
  margin: 0 !important;
}
.item-center{
  align-items: center;
}
