@charset 'utf-8';

.a-tpye{
  .page-content{
    &.search-results{
      h2{
        font-size: rem(24);
        margin-bottom: rem(30);
      }
      .multiselect{
        line-height: rem(34);
        border: rem(1) solid $input-border;
      }
      .list-results{
        margin: rem(30) 0;
        .type-page{
          margin-bottom: rem(20);
        }
        h3{
          font-size:rem(20);
          a{
            font-weight: $bold;
          }
        }
        .result-url{
          color:$result-link-color;
        }
        p{
          margin: 0;
        }
      }
    }
  }
}