@charset 'utf-8';
.a-type{
  section{
    margin-bottom: rem(60);
    .container{
        hr{
          width: rem(80);
          margin-top: rem(40);
          border-color: $onepage-header-border;
        }
      .title{
        font-size: rem(22);
        margin-bottom: rem(20);
        font-weight:$semi-bold;
        &.max-title{
          flex: 1 1 auto;
          a{
            &:auto-height{
              height: auto;
            }
          }
        }
        &.la-type{
          font-size: rem(36);
        }
      }
      .img-banner{
        width: 100%;
        height: 100%;
      }
      &.box-banner{
        .box-content{
          margin-bottom: rem(40);
          &.box-icon{
            i{
              position: relative;
              float: left;
              width: rem(80);
              height: rem(80);
              background:$box-bg;
              color:$fc-white;
              font-size: rem(40);
              &:before{
                @include absolute-center;
              }
            }
          }
          .title{
            padding-left: rem(100);
          }
          .box-info{
            font-size: rem(13);
            padding-left: rem(100);
          }
          &.sm-type{
            i{
            width: rem(60);
            height: rem(60);
            font-size: rem(26);
            }
            .title{
              font-weight: $normal;
              margin-bottom: 0;
            }
          }
        }
      }
      .section-header{
        margin-bottom: rem(50);
        padding-top: rem(30);
        h2{
          font-size: rem(42);
        }
      }
    }
    &.none-margin{
      margin: 0;
    }
    &.latest-news{
      .news-img{
        img{
          width: 100%;
        }
        &.sm-type{
          img{
            width: rem(140);
            margin-right: rem(10);
          }
        }
      }
      .news-info{
        font-size: rem(13);
        &.news-info-sm-type{
          font-size: rem(12);
        }
      }
      .title{
        &.title-sm-type{
          font-size: rem(16);
          margin: 0;
        }
        &.ellipsis{
          width: rem(200);
          @include ellipsis;
        }
      }
      .news-content{
        padding-left: rem(10);
      }
      .col-md-6{
        margin-bottom: rem(55);
      }
      .see-all-news{
        border: rem(1) solid #e4e4e4;
        font-size: rem(16);
        a{
          display: block;
          padding: rem(30) 0;
        }
      }
    }
    &.parallax-bg{
      background-image: url(../img/testimonial-bg.png);
      background-attachment:fixed;
      background-position: center center;
      padding: rem(120) 0;
    }
    &.call-to-action{
      background-color: #ebebeb;
      padding: rem(25) 0;
    }
    &.main-banner{
      position: relative;
      .main-text{
        @include absolute-center;
        .fc-blue{
          font-size: rem(34);
        }
        strong{
          font-size: rem(50);
          color: $fc-white;
        }
      }
      img{
        height:rem(620);
      }
    }
  }
}
@media (max-width:990px){
  .a-tpye{
    section{
      .container{
        .title{
          font-size: rem(16);
        }
      }
    }
  }
}