@charset'utf-8';

.a-type{
  .slide-section{
    padding: rem(100) 0;
    background-image: url(../img/main01.jpg);
    background-size: cover;
    background-repeat: center -75%;
    .main-slide{
      .item{
        .slide-title{
          color: $fc-white;
        }
        .lead{
          color:$fc-white;
        }
      }
      .owl-nav{
        .owl-next,
        .owl-prev{
          position: absolute;
          width: rem(30);
          height: rem(50);
          @include center-bg;
        }
        .owl-next{
          top: rem(80);
          right: rem(25);
          background-image: url(../img/next.png);
        }
        .owl-prev{
          top: rem(80);
          left: rem(25);
          background-image: url(../img/prev.png);
        }
      }
      .main-dot{
        position: absolute;
        top: rem(170);
        left: 50%;
        transform: translateX(-50%);
        .owl-dot{
          width: rem(10);
          height: rem(10);
          background-color: rgba($color: #ffffff, $alpha: 0.5);
          border-radius: 100%;
          margin-right: rem(15);
          &:last-child{
            margin-right: 0;
          }
          &.active{
            background-color: #ffffff;
          }
        }
      }
    }
  }
}
@media (max-width:990px){
  .a-type{
    .main-slide{
      .item{
        img{
          display: none;
        }
        .hero-center{
          text-align: center;
          .slide-title{
            font-size: rem(32);
          }
          .lead{
            font-size: rem(18);
          }
        }
      }
      .main-dot{
        top: rem(225) !important;
      }
    }
  }
}