@charset 'utf-8';

.a-type{
  .support{
    .knowledge{
      h2{
        border-bottom: rem(1) solid $support-border;
        line-height: rem(30);
        font-size: rem(20);
        a{
          font-size: rem(20);
          color: #406da4;
        }
      }
      .support-list{
        li{
          a{
            font-size: rem(13);
          }
        }
      }
    }
    .form{
      margin-bottom: rem(50);
    }
    .row{
      margin-bottom: rem(40);
    }
    .nav{
      li{
        a{
          display: block;
          font-size: rem(13);
          padding: rem(10) rem(15);
        }
      }
      &.column-nav{
        flex-direction: column;
      }
      &.border-nav{
        li{
          border:rem(1) solid $support-border;
          border-bottom: none;
          &:last-child{
            border-bottom: rem(1) solid $support-border;
          }
        }
      }
    }
    .badge{
      background-color:$bedge-color;
      color: $fc-white;
    }
    h3{
      font-size: rem(24);
      font-weight: $semi-bold;
    }
    .ticket-box{
      border:rem(1) solid $support-border;
      border-radius: rem(2);
      padding: rem(15);
      &.box-margin{
        margin-top: rem(30);
      }
    }
    .well{
      background-color: $support-well-bg;
      border: rem(1) solid $support-well-bg;
      border-radius: rem(6);
      margin: rem(20) 0;
      padding: rem(24);
      ol{
        li{
          a{
            font-size: rem(13);
            color: #406da4;
            padding: rem(10) 0;
          }
        }
      }
    }
  }
}