@charset 'utf-8';

// font
$light: 300;
$normal: 400;
$semi-bold: 500;
$bold: 600;

//color
$fc-black:#000000;
$fc-white:#ffffff;
$tab-title:#406da4;
$footer-color:#eaeaea;
$fc-blue:#40bbff;
$error-text:#656565;
$breadcrumb-text:#7b7b7b;
$fc-lightgray:#adadad;
$header-color:#656565;
$result-link-color:#008000;
$faq-text:$breadcrumb-text;
$more-que-text:$error-text;


//border
$tab-line-solid:#ccc;
$tab-acrive-color:#ff0000;
$input-border:#414143;
$top-nav-border:#ddd;
$login-border:#ccc;
$serach-border:$login-border;
$onepage-header-border:#406da4;
$input-border:#ced4da;
$support-border:$login-border;

//bg
$bg-black:$fc-black;
$bg-white:$fc-white;
$feature-bg:#5782b7;
$box-bg:#406da4;
$footer-bg:#49494b;
$facebook:#344f98;
$twitter:#138bee;
$google: #dd4b39;
$rss:#ff6600;
$copyright-bg:#323232;
$login-icon-box:#eee;
$plan-icon-bg:$login-border;
$tag-bg:#406da4;
$dropcat-bg:$tag-bg;
$bedge-color:#777;
$support-well-bg:#e3e3e3;
$faq-footer-bg:#e7e7e7;
$faq-title-nubmer: #406da4;

//padding
$footer-pad:rem(30)